@import '~antd/dist/antd.css';

.gameList {
  padding: 20px;
}

.gameForm {
  margin: auto;
}

.App {
  flex:1;
  flex-direction: column;
  background-color: gray;
  height: 100%;
}

.App-header {
  height: 400px;
}

.left {
  margin-top: 20px;
  height:100%;
  width:400px;
  /* background-color: orange; */
  float: left;
}

.right {
  height:100%;
  /* background-color: blue; */
  margin-left: 400px;
}