.App{
  flex:1;
  flex-direction: column;
  background-color: yellow;
  height: 100%;
}

.left{
  height:100%;
  width:300px;
  background-color: orange;
  float: left;
}

.right{
  height:100%;
  background-color: blue;
  margin-left: 300px;
}